---
import Layout from '../layouts/Layout.astro'
import words from '../data/words.json'
import { BRAND_NAME } from '../constants'
---

<Layout PAGE_TITLE="My Weekly Sight Words">
	<section class="space-y-9 text-center">
		<h1 class="text-5xl leading-tight">
			<span class="text-3xl">Welcome to</span>
			<span class="block font-bold" aria-label="My Weekly Sight Words">{BRAND_NAME}</span>
		</h1>
		<p class="mx-auto text-balance md:w-3/4">
			<b>LCISD High-Frequency Word List:</b> K.2B(iv) The student will demonstrate and apply phonetic knkowledge by identifying and reading at
			least 25 high-frequency words from a research-based list.
		</p>
		<ul class="mx-auto space-y-3 md:w-1/2 md:min-w-fit" role="list">
			{
				words.weeks.map((week) => (
					<li>
						<a
							href={`/${week.set}`}
							class="button flex min-w-full items-center justify-around gap-4"
							aria-label={`${week.set} - ${week.words.length} words`}>
							<span>{week.set}</span>
							<span class="rounded-full bg-blue-900 px-3 py-1 text-sm font-bold text-blue-100">{week.words.length} Words</span>
						</a>
					</li>
				))
			}
		</ul>
	</section>
</Layout>
